@import "tailwindcss";

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin: 20px 0;
}

.spinner {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 5px solid lightgray;
  border-top: 5px solid #ff7b00;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

@layer components {
  /* H1 / Header */
  .heading-primary {
    @apply text-3xl font-extrabold leading-tight tracking-tight; /* Default (mobile) */
    @apply sm:text-4xl md:text-5xl lg:text-6xl; /* Overrides for larger screens */
  }

  /* H2 / Subheader */
  .heading-secondary {
    @apply text-xl font-bold leading-normal; /* Default (mobile) */
    @apply sm:text-2xl md:text-3xl lg:text-4xl; /* Overrides for larger screens */
  }

  /* H3 / smallHeader */
  .heading-smallheader {
    @apply text-xl font-bold leading-normal; /* Default (mobile) */
    @apply sm:text-xl md:text-2xl lg:text-xl; /* Overrides for larger screens */
  }

  /* Paragraph / Body Text */
  .paragraph-body {
    @apply text-base leading-relaxed; /* Default (mobile) */
    @apply lg:text-lg; /* Overrides for large screens and up */
  }

  .card {
    /* Base Styles (for Mobile First) */
    @apply shadow-lg 
      rounded-xl 
      p-4 
      transition-all 
      duration-300;

    /* Responsive & Hover Styles */
    @apply hover:shadow-xl 
      sm:p-6 
      lg:p-8;
  }

  .card-header {
    @apply text-2xl 
      font-bold 
      text-gray-900 
      mb-2 
      sm:text-3xl;
  }

  .card-body {
    @apply text-base 
      text-gray-600 
      leading-relaxed;
  }
}
